<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <h2 style="color: red;">Welcome!</h2>
    <ul>
        <li>Name: {{employee.name}} Gender: {{employee.gender}} - Images: {{employee.images}} </li>
    </ul>
    <hr>
    <ul>
    {{#each allEmployee}}
    <li>
        Name: {{name}} Gender: {{gender}} - Images: {{Images}}
    </li>
    {{/each}}
    </ul>
</body>
</html>